common --noenable_bzlmod
test:ci --test_output=all
build:ci --build_metadata=ROLE=CI
build:ci --announce_rc

build:bes --build_event_binary_file=src/test/resources/bes.bin
build:bes --build_event_json_file=src/test/resources/bes.jsonl
build:bes --build_event_text_file=src/test/resources/bes.txt

build --java_language_version=17
build --tool_java_language_version=17
build --java_runtime_version=17
build --tool_java_runtime_version=17

test --test_output=errors